/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: "Nunito Sans", "consolas", sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}

header .container h1{
    padding-left: 20px;
    color: rgb(189, 145, 96);
    font-size: 2.5rem;
}

header .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container li{
    padding: 20px;
    list-style-type: none;
}

header .container li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: brown;
}

header .container li :hover{
    background-color: rgb(255, 204, 180);
    color: rgb(255, 145, 0);
}

.overview-hero{
    display: flex;
    padding: 20px;
}

.overview-hero-image img{
    float: left;
    padding-right: 1.5rem;
    width: 300px;
    height: auto;
}

.overview-hero-text h2{
    font-size: 2rem;
}