/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: "Nunito Sans", "consolas", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
}

header .container h1{
    padding-left: 20px;
    color: rgb(189, 145, 96);
    font-size: 2.5rem;
}

header .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container li{
    padding: 20px;
    list-style-type: none;
}

header .container li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: brown;
}

header .container li :hover{
    background-color: rgb(255, 204, 180);
    color: rgb(255, 145, 0);
}

.overview-hero{
    display: flex;
    padding: 20px;
}

.overview-hero-image img{
    float: left;
    padding-right: 1.5rem;
    width: 300px;
    height: auto;
}

.overview-hero-text h2{
    font-size: 2rem;
}

.learn-about {
    padding: 40px 0;
    background-color: burlywood;
}

.learn-about h2 {
    text-align: center; 
    font-size: 2rem;
    color: #333;
}

.cards{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 9px rgb(196, 195, 194);
    overflow: hidden;
}

.card img {
    width: 100%; /* Make the image fill the width of its card */
    height: 200px; /* Set a fixed height for consistency across images */
    object-fit: cover; /* Crop images to fit without distortion */
    display: block; /* Remove any extra space below the image */
}

.card .card-body {
    padding: 20px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}

.card .card-body h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.card .card-body p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}